<div class="container-fluid pt-5 banner">
    <div class="row">
        <h1 class="titulo">
            {{miPortfolio.name}} - {{miPortfolio.position}}
        </h1>
    </div>
</div>
<div class="container pt-5 ">
    <div class="row seccion">
        <div class="col-2">
            <img [src]="miPortfolio.image" class ="img-fluid rounded-circle" alt="Foto de CV">
        </div>
        <div class="col-10">
            <h2>
                Perfil profesional
            </h2>
            <p>
                {{miPortfolio.about}}
            </p>
        </div>
             <!-- La primera sección que debe contener es ACERCA DE ... Acá se debe incluir una foto de perfil, nombre y título (Full Stack Developer Jr.. También se debe sumar un resumen de info profesional)-->
    </div>
</div>