<div>
    <header>
        <div class="encabezado">
            <nav>
                <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1659143423/APLogo-20-20.png" alt="Logo de Argentina Programa" height="60px" class="logo">
                <h2>
                    # Yo programo 
                </h2>
                <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/ilari.pablo/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/pablo-ilari-ant-arch" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/devantarch" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
  
                    <!--li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">en redes sociales</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://www.linkedin.com/in/pablo-ilari-ant-arch" target="_blank">LinkedIn</a></li>
                        <li><a class="dropdown-item" href="https://twitter.com/devantarch" target="_blank">Twitter</a></li>
                        <li><a class="dropdown-item" href="https://www.instagram.com/ilari.pablo/" target="_blank"><Instagram></i></a></li>
                    </ul>
                    </li-->
                    <li class="nav-item">
                    <a class="nav-link active" href="#">Log in</a>
                    </li>
                   
                    <li class="nav-item">
                    <!-- a class="nav-link disabled" href="#">Pablo Ilari</a>
                    </li--> 
                </ul>
            </nav>
        </div>
  
        <!--h1 class="display-1">Pablo Ilari</h1-->
        <!-- En la parte superio izquierda, debe contener un logo y nombre del programa "Argentina Programa" #Yo Programo. Debe también tener un banner representativo. //// En la parte superior derecha deberá contar con las redes sociales y un botón que permita el login.-->
    </header>
  </div>