<div class="py-5 text-center">
  <img
    class="d-block mx-auto mb-4"
    src="https://www.svgrepo.com/show/429054/managament-manager-organize.svg"
    alt=""
    width="72"
    height="72"
  />
  <h2>Agregar elemento a la sección "Educación"</h2>
  <p class="lead">Debe completar todos los campos.</p>
</div>
<div class="container">
  <div class="row">
    <div>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombre">Nombre del proyecto</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            name="nombre"
            [(ngModel)]="nombre"
            required
          />
        </div>
        <div class="form-group">
          <label for="fecha">Fecha del proyecto</label>
          <input
            type="text"
            class="form-control"
            id="fecha"
            name="fecha"
            [(ngModel)]="fecha"
            required
          />
        </div>
        <div class="form-group">
          <label for="url">Url del proyecto</label>
          <input
            type="text"
            class="form-control"
            id="url"
            name="url"
            [(ngModel)]="url"
            required
          />
        </div>
        <br />
        <button class="btn btn-dark">Agregar proyecto</button>
      </form>
    </div>
  </div>
</div>
