<div class="row seccion">
    <div class="col-2">

    </div>
    <div class="col-10">
    <h2>
         Proyectos
    </h2>
    
    <p>
         Portfolio web desarrollado en Spring Boot y Angular. | 2022 | Link-a-aquí
    </p>

    <p>
        Sitio Web utilizando la plataforma ATOM de Artefactual. | 2018 | <a href="https://www.archivohistoricovenado.com.ar" target="_blank">Link</a>
    </p>

    <p>
        Sitios para medios digitales utilizando Wordpress. | 2020 - 2022 | <a href="https://www.revistaaji.com" target="_blank">Link</a> |  <a href="https://www.revistaojito.com.ar" target="_blank">Link</a>
    </p>
    

    <!-- La quinta sección es la que se refiere a PROYECTOS. Se debe incluir los proyectos de los que formé parte/realicé, INCLUYENDO ESTE PORTFOLIO WEB. Debe tener nombre, fecha de realización, descripción y link a su evidencia, se pueden sumar imágenes-->
    </div>
</div>