<div class="container pt-5 ">
<div class="row seccion">
    <!-- <div class="col-2">

    </div> -->
    <div class="col-12">
        <h2>
            Proyectos
        </h2>
        
        <ul>
            <li *ngFor="let proyecto of proyectosList">
                <p>
                {{proyecto.proyecto}} | {{proyecto.fecha}} | <a [href] = "proyecto.url" target="_blank">Link</a>
                </p>
            </li>       
            

            <!-- La quinta sección es la que se refiere a PROYECTOS. Se debe incluir los proyectos de los que formé parte/realicé, INCLUYENDO ESTE PORTFOLIO WEB. Debe tener nombre, fecha de realización, descripción y link a su evidencia, se pueden sumar imágenes-->
        </ul>
    </div>
</div>
</div>