<div class="container pt-5 ">
    <div class="row seccion" >
        <div class="col-12">
            <h2>
                Experiencia
            </h2>
            <div class="col-lg-2" >
                <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
                    Nueva Experiencia
                </button>
                
            </div>

            <table class="table">
                <tbody>
                    <tr *ngFor="let Experiencia of expe">
                        <td>{{Experiencia.nombreE}}</td>
                        <td>{{Experiencia.cargo}}-{{Experiencia.inicio}} a {{Experiencia.fin}}. {{Experiencia.tareas}}</td>
                        <td *ngIf="isLogged">
                            <button class="btn btn-light" routerLink="/editarexp/{{Experiencia.id}}"><i class="bi bi-pencil-square"></i>EDITAR</button>
                        </td>
                        <td><i class="bi bi-x-square"></i>BORRAR</td>
                    </tr>
                </tbody>



            </table>
            
            /////////////////////////////////////////////////

            <div>
                <ul class="items-list">
                    <li *ngFor="let Experiencia of expe">
                        <div class="data-container">
                            <a [href]="Experiencia.url" target="_blank">
                                <div class="logo-image-container">
                                    <img class="logo-image" [src]="Experiencia.url_img"/>
                                </div>
                            </a>
                        </div>
                        <div class="list-info">
                            <h3>{{Experiencia.cargo}}, {{Experiencia.nombreE}}</h3>
                            <h5>{{Experiencia.inicio}} - {{Experiencia.fin}}</h5>
                            <p>{{Experiencia.tareas}}</p>
                        </div>
                        <div>
                            <p><i class="bi bi-pencil-square"></i> EDITAR - <i class=""></i> BORRAR </p>
                            <p></p>
                        </div>
                    </li>
                </ul>    
            </div>  
            
        </div>
    </div>
</div>