<div class="row seccion" >
    <div class="col-2">
    </div>
    <div class="col-10">
        <h2>
            Experiencia
        </h2>

        <h3>
            Jefe de Laboratorio de Innovación, UTN Regional Venado Tuerto
        </h3>
        <h5>
            Marzo 2022 - Presente
        </h5>
        <p>
            Desarrollo de proyectos en el uso de nuevas tecnologías, en particular de impresión
            3D, robótica y software junto a becarios y en conjunto con equipos de investigación
            de los diferentes departamentos.
        </p>

        <h3> 
            Desarrollador Web, Freelance
        </h3>
        <h5>
            Febrero 2019 - Presente
        </h5>
        <p> 
            Realizo sitios web utilizando el CMS Wordpress a través de mi emprendimiento
            personal Devantarch. 
        </p>
        
        <h3>
            Coordinador de Proyectos Especiales, Metrología DAVNAR SA, Buenos Aires 
        </h3>
        <h5>
            Marzo 2017 - Presente
        </h5>
        <p> 
            Coordinación de desarrollo y administrativo para el producto “Polígono de Tiro
            Virtual”. A cargo de la infraestructura de la empresa alojada en Google Cloud
            Platform, servidores Linux y bases de datos MySQL. 
        </p>

        <h3> 
            Profesor, Instituto Dante Alighieri, Venado Tuerto
        </h3>
        <h5> 
            Marzo 2018 - Presente
        </h5>
        <p> 
            Profesor de nivel terciario en el área de ciencias sociales y periodismo digital. 
        </p>

        <h3>
            Líder de proyectos de Digitalización, UTN-Proyectos, Buenos Aires
        </h3>
        <h5>
            Abril 2011 - Febrero 2017
        </h5>
        <p> 
            Planificación, puesta en marcha y supervisión de más de una decena de centros
            de digitalización de documentos en distintos organismos públicos nacionales.
            Coordinación del desarrollo de herramientas de software a medida para cada
            proyecto.
        </p>

        <h3>   
            Representante Técnico, Sediex SRL, Buenos Aires 
        </h3>
        <h5>
            2009 - 2011
        </h5>
        <p> 
            A cargo del soporte técnico de scanners de alta y media producción para un gran
            número de clientes de las esferas públicas y privadas. Dirección del mantenimiento
            de los scanners que realizaron el procesamiento del CENSO 2010.
        </p>

        <!-- La segunda sección que debe contener es EXPERIENCIA. Se debe incluir info sobre los lugares donde se trabajó. Incluir Titulo del puesto, logo de la empresa y descripción de las tareas realizadas)-->
        </div>
</div>