<div>
  <header>
      <div class="encabezado">
          <nav>
              <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1659143423/APLogo-20-20.png" alt="Logo de Argentina Programa" height="60px" class="logo">
              <h2>
                  # Yo programo 
              </h2>
              <ul class="nav nav-pills justify-content-end">
                  <li class="nav-item">
                      <a class="nav-link" href="https://www.instagram.com/ilari.pablo/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="https://www.linkedin.com/in/pablo-ilari-ant-arch" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="https://twitter.com/devantarch" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  </li>

                  <!--li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">en redes sociales</a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="https://www.linkedin.com/in/pablo-ilari-ant-arch" target="_blank">LinkedIn</a></li>
                      <li><a class="dropdown-item" href="https://twitter.com/devantarch" target="_blank">Twitter</a></li>
                      <li><a class="dropdown-item" href="https://www.instagram.com/ilari.pablo/" target="_blank"><Instagram></i></a></li>
                  </ul>
                  </li-->
                  <li class="nav-item">
                  <a class="nav-link active" href="#">Log in</a>
                  </li>
                 
                  <li class="nav-item">
                  <!-- a class="nav-link disabled" href="#">Pablo Ilari</a>
                  </li--> 
              </ul>
          </nav>
      </div>

      <!--h1 class="display-1">Pablo Ilari</h1-->
      <!-- En la parte superio izquierda, debe contener un logo y nombre del programa "Argentina Programa" #Yo Programo. Debe también tener un banner representativo. //// En la parte superior derecha deberá contar con las redes sociales y un botón que permita el login.-->
  </header>
</div>
<div class="container-fluid pt-5 banner">
  <div class="row">
      <h1 class="titulo">
          Pablo Javier Ilari - Full Stack Developer Jr.
      </h1>
  </div>
</div>
<div class="container pt-5 ">
  <div class="row seccion">
      <div class="col-2">
          <img src="assets/cv.jpg" class ="img-fluid rounded-circle" alt="Foto de CV">
      </div>
      <div class="col-10">
          <h2>
              Perfil profesional
          </h2>
          <p>
                  Líder de proyectos con más de 10 años de experiencia y con formación en ciencias
                  antropológicas. Busco un puesto en el área de desarrollo y testing en el que
                  pueda utilizar mejor mis habilidades y mi pasión. Profesional organizado y motivado,
                  ambicioso y capaz de trabajar independientemente y en equipo.
          </p>
         
      </div>
           <!-- La primera sección que debe contener es ACERCA DE ... Acá se debe incluir una foto de perfil, nombre y título (Full Stack Developer Jr.. También se debe sumar un resumen de info profesional)-->
  </div>
      
  <div class="row seccion" >
      <div class="col-2">
      </div>
      <div class="col-10">
          <h2>
              Experiencia
          </h2>

          <h3>
              Jefe de Laboratorio de Innovación, UTN Regional Venado Tuerto
          </h3>
          <h5>
              Marzo 2022 - Presente
          </h5>
          <p>
              Desarrollo de proyectos en el uso de nuevas tecnologías, en particular de impresión
              3D, robótica y software junto a becarios y en conjunto con equipos de investigación
              de los diferentes departamentos.
          </p>

          <h3> 
              Desarrollador Web, Freelance
          </h3>
          <h5>
              Febrero 2019 - Presente
          </h5>
          <p> 
              Realizo sitios web utilizando el CMS Wordpress a través de mi emprendimiento
              personal Devantarch. 
          </p>
          
          <h3>
              Coordinador de Proyectos Especiales, Metrología DAVNAR SA, Buenos Aires 
          </h3>
          <h5>
              Marzo 2017 - Presente
          </h5>
          <p> 
              Coordinación de desarrollo y administrativo para el producto “Polígono de Tiro
              Virtual”. A cargo de la infraestructura de la empresa alojada en Google Cloud
              Platform, servidores Linux y bases de datos MySQL. 
          </p>

          <h3> 
              Profesor, Instituto Dante Alighieri, Venado Tuerto
          </h3>
          <h5> 
              Marzo 2018 - Presente
          </h5>
          <p> 
              Profesor de nivel terciario en el área de ciencias sociales y periodismo digital. 
          </p>

          <h3>
              Líder de proyectos de Digitalización, UTN-Proyectos, Buenos Aires
          </h3>
          <h5>
              Abril 2011 - Febrero 2017
          </h5>
          <p> 
              Planificación, puesta en marcha y supervisión de más de una decena de centros
              de digitalización de documentos en distintos organismos públicos nacionales.
              Coordinación del desarrollo de herramientas de software a medida para cada
              proyecto.
          </p>

          <h3>   
              Representante Técnico, Sediex SRL, Buenos Aires 
          </h3>
          <h5>
              2009 - 2011
          </h5>
          <p> 
              A cargo del soporte técnico de scanners de alta y media producción para un gran
              número de clientes de las esferas públicas y privadas. Dirección del mantenimiento
              de los scanners que realizaron el procesamiento del CENSO 2010.
          </p>

          <!-- La segunda sección que debe contener es EXPERIENCIA. Se debe incluir info sobre los lugares donde se trabajó. Incluir Titulo del puesto, logo de la empresa y descripción de las tareas realizadas)-->
          </div>
  </div>
  <div class="row seccion">
      <div class="col-2">
      </div>
      <div class="col-10">
          <h2>
              Educación
          </h2>
          
          <h3> 
              Desarrollador Full Stack, Ministerio de Producción Argentina, Buenos Aires 
          </h3>
          <h5>
              Octubre 2021 - Agosto 2022
          </h5>
          <p> 
              Programa de capacitación Argentina Programa. 
          </p>
          
          <h3>
              Tester QA, Gob. de la Ciudad de Buenos Aires, Buenos Aires
          </h3>
          <h5>
              Marzo 2022 - Julio 2022
          </h5>
          <p> 
              Programa de capacitación en Testing / QA enmarco en el plan Codo a Codo del GCBA 
          </p>

          <h3>
              Diplomatura en Innovación Democrática, Asuntos del Sur, Rosario
          </h3>
          <h5>
              2018 - 2019
          </h5>
          <p>
              Graduado con un prototipo de proyecto vinculado a la educación utilizando
              plataformas móviles.
          </p>
          
          <h3>
              Licenciatura en Archivística, UFASTA, Mar del Plata
          </h3>
          <h5>
              2014 - 2019
          </h5>
          <p>
              Cursada finalizada. Tesis pendiente.
          </p>

          <h3>
              Profesor de Ciencias Antropológicas, Universidad de Buenos Aires, Buenos
              Aires
          </h3>
          <h5>
              2001 - 2014
          </h5>
          <p>
              Egresado del Ciclo de Grado. Miembro de equipo de Investigación UBACyT "Antropología y Medios Audiovisuales"
          </p>   
      <!-- La terecera sección que debe contener es EDUCACIÓN. Acá se debe incluir toa la info sobre formación académica. certificaciones, cursos y todo lo relacionado con el titulo con que se cuenta actualimente. Es importante informar info sobre el Instituto, el gogo, nombre, carrera o titulo y periodo)-->
      </div>
  </div>


  <div class="row seccion">
      <div class="col-2">
      </div>
      <div class="col-10">
                  
      <h2>
          Skills
      </h2>
          <div class="row">
              <div class="col-5">
                  <div>
                      <p>Frontend HTML + CSS + JavaScript</p>
                      <div class="progress">
                          <div class="progress-bar progress-bar-striped bg-primary" style="width:40%"></div>
                      </div>

                      <p>Spring boot</p>
                      <div class="progress">
                          <div class="progress-bar progress-bar-striped bg-primary" style="width:30%"></div>
                      </div>
                      
                      <p>AngularJS</p>
                      <div class="progress">
                          <div class="progress-bar progress-bar-striped bg-primary" style="width:30%"></div>
                      </div>
                      
                      <p>QA - Testing</p>
                      <div class="progress">
                      <div class="progress-bar progress-bar-striped bg-primary" style="width:35%"></div>
                      </div>
                  </div>
              </div>
              <div class="col-5">
                  <p>Project Managment</p>
                  <div class="progress">
                      <div class="progress-bar progress-bar-striped bg-warning" style="width:80%"></div>
                  </div>

                  <p>Negociación</p>
                  <div class="progress">
                      <div class="progress-bar progress-bar-striped bg-warning" style="width:80%"></div>
                  </div>

                  
                  <p>Inglés</p>
                  <div class="progress">
                      <div class="progress-bar progress-bar-striped bg-danger" style="width:100%"></div>
                  </div>

                  <p>Italiano</p>
                  <div class="progress">
                      <div class="progress-bar progress-bar-striped bg-danger" style="width:55%"></div>
                  </div>
              </div>
          </div>
      </div>
      <!-- La cuarta sección es la que se refiere a HARD y SOFT Skills. Los mismos se deben representar de forma atractiva, mostrando habilidades duras y blandas, indicando el grado de dominio. Se deben sumar los idiomas-->
  </div>

  <div class="row seccion">
      <div class="col-2">

      </div>
      <div class="col-10">
      <h2>
           Proyectos
      </h2>
      
      <p>
           Portfolio web desarrollado en Spring Boot y Angular. | 2022 | Link-a-aquí
      </p>

      <p>
          Sitio Web utilizando la plataforma ATOM de Artefactual. | 2018 | <a href="https://www.archivohistoricovenado.com.ar" target="_blank">Link</a>
      </p>

      <p>
          Sitios para medios digitales utilizando Wordpress. | 2020 - 2022 | <a href="https://www.revistaaji.com" target="_blank">Link</a> |  <a href="https://www.revistaojito.com.ar" target="_blank">Link</a>
      </p>
      

      <!-- La quinta sección es la que se refiere a PROYECTOS. Se debe incluir los proyectos de los que formé parte/realicé, INCLUYENDO ESTE PORTFOLIO WEB. Debe tener nombre, fecha de realización, descripción y link a su evidencia, se pueden sumar imágenes-->
      </div>
  </div>
</div>   

<div class="row">
  <footer>
      <p class="pie">
          Diseño realizado por <a href="https://www.devantarch.com.ar" target="_blank"> devantarch </a>
      </p>
      <!-- Puedo incluir info de contacto, de realización del sitio... y tal vez un easter egg???-->
  </footer>
</div>